<% for (post of posts) { %>
<section class="movie">
  <div class="wrapper">
    <div class="movie_header">
      <h4><a href='<%=routes.postDetail(post.id)%>'><%=post.restaurant%></a></h4>
      <h5><a href='<%=routes.userDetail(post.creator)%>'><%=post.nickname%></a></h5>
    </div>
    <figure>
      <a href='<%=routes.postDetail(post.id)%>'>
      <img src="<%=post.sourceFile%>" alt=""></a>
    </figure>
    <h5>views: <%=post.views%></h5>
    <h5>comments:</h5>
    <h5>Vote: <%=post.votes%></h5>
  </div>
</section>
<% }%>