<div class="post__container">
    <h4><%=post.title%></h4>
    <h5><%=post.creator.name%></h5>
    <div class="post__info">
        <a href=""></a>
        <h5>views: <%=post.views%></h5>
        <h5>comments: <%=post.comments%></h5>
        <h5>Vote: <%=post.votes%></h5>
        <p class="post__description"></p>
    </div>
</div>